.todoList{
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    &:hover{
        background-color: lightgray;
    }
    &__link{
        text-decoration: none;
        list-style: none;
        color: brown;
        font-size: 18px;
        font-weight: 500;
    }
}