.todo-container{
    display: flex;
    gap:100px;
    &__sidebar{
        border-right: 2px solid lightgray;
        padding-top: 10px;
        height: calc(100vh - 60px);
        overflow-y: scroll;
    }
    &__content{
        height: 100%;
        margin-top: 50px;
        &__home{
            font-size: 20px;
            font-weight: 600px;
            color: maroon; 
        }
    }
  }